.inputs{

    width:70%;
     border:1px solid gray;

    padding: 1%;
     margin-bottom:2%;
     font-size:20px;
     border-radius:8px

}

.form{
    margin-bottom: 5%;
}

.Btn{
background:blue;
color:white;
border-radius:25px;
padding:1%;
width:20%;
font-size:20px;
margin-top:5%
}
.Btn:hover{
    background:skyblue;
}
.hovering:hover{
   background-color:aquamarine
   
}